@page "/vehicles"
@using Garage
@using System.Collections.Immutable
@using MyGarage.Components
@using MyGarage.Services


@inject ITheGarageClient TheGarageClient

<PageTitle>Vehicles</PageTitle>

<h1>My Vehicles</h1>

@if (_vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ConfirmationDialog 
        @ref="ConfirmationDialog"
        Title="Delete Vehicle?"
        ConfirmationChoiceMade="ConfirmDelete_Click"></ConfirmationDialog>

    <table class="table">
        <thead>
            <tr>
                <th>VIN</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>License</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in _vehicles)
            {
                var maintenanceHistoryLength = vehicle.MaintenanceHistory?.Length ?? 0;
                var photoCount = vehicle.Photos?.Length ?? 0;
                <tr>
                    <td>@vehicle.Vin</td>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.Year</td>
                    <td>@vehicle.Color</td>
                    <td>@vehicle.LicensePlate</td>
                    <td>@maintenanceHistoryLength </td>
                    <td>@photoCount </td>
                    <td>
                        <NavLink class="nav-link" href="@($"/vehicles/form/{vehicle.Id}")" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Edit</span>
                        </NavLink>
                    </td>
                    <td>
                        <button @onclick="() => Delete(vehicle)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="nav-item px-3">
    <NavLink class="nav-link" href="vehicles/form" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Add Vehicle
    </NavLink>
</div>

@code {
    private IEnumerable<Vehicle>? _vehicles;
    
    protected ConfirmationDialog ConfirmationDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _vehicles = await TheGarageClient.GetVehiclesAsync();
        _vehicles = _vehicles.OrderBy(v => v.Year).ToImmutableArray();
    }

    private void Delete(Vehicle vehicle)
    {
        string message = $"Are you sure you want to delete \"{vehicle.Year} {vehicle.Make} - {vehicle.Vin}\"?";
        ConfirmationDialog.Show(message, vehicle);

        StateHasChanged();
    }

    private async void ConfirmDelete_Click(ConfirmationDialog.ConfirmationState confirmedState)
    {
        if (confirmedState.Confirmed)
        {
            await TheGarageClient.DeleteVehicleAsync(confirmedState.Vehicle.Id);
            _vehicles = await TheGarageClient.GetVehiclesAsync();
            StateHasChanged();
        }
    }
}
